* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 14px;
}
a {
    text-decoration: none;
    color: #007185;
   
}
.navbar {
    height: 60px;
    background-color: #131921;
    color: white;
    display: flex;
    justify-content: space-evenly;
    

}
/* logo */
.nav-logo{
    
    width: 120px;
    padding: 5px 0px 0px 2px;

}

.logo {
    height: 50px;
    width: 110px;
    background-image: url("images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;

}

.border{
    border: 2px solid transparent;
    align-items: center;
    height: 50px;
    padding: 2px;
    margin: 8px 9px;
}

.border:hover {
    border: 2px solid white;
}

/* address */
.nav-address {
    height: 50px;
    width: 100px;
    color: white;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-top: 3px;
    align-items: center;
}

.add-first{
    font-size: 12px;
    margin-left: 16.47px;
    font-weight: lighter;
}

.add-second{
    font-size: 14px;
    font-weight: 600;
    margin-left: 4.5px;
}

.add-icon{
    display: flex;
    font-size: 15px;
}

/* search */

.nav-search {
    display: flex;
    width: 820px;
    height: 40px;
    justify-content: space-evenly;
    border-radius: 4px;
    margin: 10px 4px 10px 3px;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input{
    width: 735px;
    border: none;
    font-size: 1rem;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    color: #0f1111;
}

.nav-search{
    border: 2px solid transparent;
    width: 820px;
}

.nav-search:hover{
    border: 2px solid orange;
}

/*accounts*/

span {
    font-size: 0.9rem
}

.nav-second {
    font-size: 1rem;
    font-weight: 700;
}

/* cart */
.nav-cart i {
    font-size: 30px;
}

.nav-cart{
    font-size: 1rem;
    font-weight: 700;
}

img{
    height: 15px;
    width: 25px;
}

.flag {
    width: 56px;
    height: 32px;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 700;
}

.nav-main{
    background-color: #232f3e;
    color: #ffffff;
    width: 100%;
    height: 40px;
    padding-left: 11px;
    display: flex;
    align-items: center;
    font: 14px;
}

.main {
    border: 1px solid transparent;
}

.main:hover{
    border: 1px solid white;
}

.ham {
    font-size: 20px;
}

.nav-hamburger{
    width: 60px;
    height: 40px;
    padding: 9px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-hamburger span{
    text-align: center;
    margin-left: 6px;
    font-size: 1rem;
    font-weight: 500;
}

.nav-a{
    padding: 8px 9px;
}

/* hero section */
.hero-section {
    flex-direction: column;
    background :linear-gradient(to bottom, transparent, #eaeded 70vh),url(images/mainBanner.jpg);
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    align-items: center;

}

.hero-message{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97%;
    background-color: aliceblue;
    color: #131921;
    height: 40px;
    padding: 10px 14px;
    font-size: 1rem;
    margin-top: 250px;
}

/* shop section */
.shop-section{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(335px,1fr));
    padding: 20px 0px;
    width: 97%;
    grid-gap: 20px;
}

.box{
    height: 450px;
    width: 335px;
    background-color: white;
    padding: 20px 0px 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.box-img {
    height: 300px;
    width: 300px;
    padding: 0px 20px;
    align-self: center; 
    
}

.four-box-img{
    width: 185px;
    height: 115px;
  
}

.row{
    display: flex;
    padding: 10px 0px;
    justify-content: space-around;
    gap: 10px;
}

.desc{
    display: flex;
    font-size: 12px;
    font-weight: lighter;
    color: #0f1111;
}

img{
    overflow: hidden;
    object-fit: cover;
}

.desc1 {
    position: relative;
    width: 132px;
    font-size: 12px;
    font-weight: lighter;
    color: #0f1111
}

.desc2{
    position: relative;
    font-size: 12px;
    font-weight: lighter;
    color: #0f1111
   
}

.single-box-img{
    width: 100%;
    height: 300px;
    overflow: hidden;
    align-self: center; 
}

.shop,h2{
    padding: 0px 35px;
    font-size: 21px;
}

.shop {
    color: #007185;
    font-size: 0.8rem;
    font-weight: lighter;
    padding-top: 2px;
}

.extra{
    display: none;
}

.signin-frame{
    display: flex;
    height: 125px;
    width: 100%;
    padding: 0px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    gap: 5px;
    border-top: 0.8px solid black;
    border-bottom: 0.8px solid black;
    margin-bottom: 20px;
}

.signin {
    width: 230px;
    height: 28px;
    background-image: url(images/button.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: #0f1111;
    font-weight: 600;
}

.footer-frame {
    display: flex;
    flex-direction: column;
    background-color: #232F3E;
}

.go-top{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
    background-color: #37475a;
}

.go-top a{
    color: white;
    font-size: 13px;
}

.footer-one{
    background-color: #232f3e;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    
   
}

.footer-one-inner{
    display: flex;
    justify-content: space-around;
    height: 320px;
    width: 1000px;
    color: white;
}

ul{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
}
.footer-line{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    border-top: 0.5px solid white;
}
.footer-sub-line{
    display: grid;
    grid-template-columns: 2fr 120px 150px 140px;
    width: 700px;
    gap: 20px;
}

.footer-button{
    border: 1px solid #848688;
    padding: 6px 18px 6px 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 3px;
    color: white;
    font-size: 12px;
}

.footer-end{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #131A22;
    color: white;
    padding: 30px 0px 30px 0px;
    font-size: 12px;
}

.footer-end ul{
    flex-direction: row;
    height: 20px;
}

.footer-end ul li {
    font-size: 12px;
    padding-left: 7.5px;
}




@media (min-width: 970px) and (max-width: 1300px) {
    .box{
        width:340;
    }
    .extra{
        display: flex;
    }
}

.logo-small{   
    height: 22px;
    width: 75px;
    background-image: url("images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: 6px;
    
}